# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db

# macOS
.DS_Store

# Backup files
*.bak
*.tmp

# Images (optional)
*.png
*.jpg
*.jpeg
*.gif